<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" requirePermission="false"/>
  </configSections>
  <appender>
    <errorHandler type="HJN.Log.LogExceptionHandler,HJN.Log.Log" />
  </appender>
  <log4net>
    
    <!--定义日志的输出媒介-->
    <logger name="ErrorLog">
      <level value="ALL" />
      <appender-ref ref="ErrorLogDBAppender" />
    </logger>
    <logger name="ServiceLog">
      <level value="ALL" />
      <appender-ref ref="ServiceLogDBAppender" />
    </logger>

    <!--异常日志-->
    <appender name="ErrorLogDBAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=10.97.190.134;Initial Catalog=esb;User Id=k2test;Password=ini7*cEaj7;" />
      <commandText value="INSERT INTO [ExceptionLog]([AppId],[Type],[UserId],[Title],[LogTime],[Message],[Data]) VALUES(@AppId,@Type,@UserId,@Title,@LogTime,@Message,@Data)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@AppId" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{AppId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Type" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Type}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="string" />
        <size value="30" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{UserId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Title" />
        <dbType value="string" />
        <size value="500" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Title}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogTime" />
        <dbType value="DateTime" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{LogTime}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="string" />
        <size value="4000" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Message}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Data" />
        <dbType value="string" />
        <size value="4000" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Data}"/>
        </layout>
      </parameter>
    </appender>

    <!--服务日志-->
    <appender name="ServiceLogDBAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=10.97.190.134;Initial Catalog=esb;User Id=k2test;Password=ini7*cEaj7;" />
      <commandText value="INSERT INTO [ServiceLog]([AppId],[ServiceId],[Name],[IP],[ReferenceId],[Tag],[LogTime],[Result],[RequestParam],[RequestResult],[LocalCost],[RemoteCost]) VALUES(@AppId,@ServiceId,@Name,@IP,@ReferenceId,@Tag,@LogTime,@Result,@RequestParam,@RequestResult,@LocalCost,@RemoteCost)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@AppId" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{AppId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ServiceId" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{ServiceId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Name" />
        <dbType value="string" />
        <size value="200" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Name}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@IP" />
        <dbType value="string" />
        <size value="23" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{IP}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ReferenceId" />
        <dbType value="string" />
        <size value="100" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{ReferenceId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Tag" />
        <dbType value="string" />
        <size value="100" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Tag}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogTime" />
        <dbType value="DateTime" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{LogTime}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Result" />
        <dbType value="string" />
        <size value="500" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{Result}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestParam" />
        <dbType value="string" />
        <size value="99999" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{RequestParam}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RequestResult" />
        <dbType value="string" />
        <size value="99999" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{RequestResult}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LocalCost" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{LocalCost}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@RemoteCost" />
        <dbType value="Int32" />
        <layout type="Wenxue.ESB.Log.ReflectionLayout,Wenxue.ESB.Log">
          <conversionPattern value="%property{RemoteCost}"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>